.container {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr 20px;
  grid-template-areas:
    'header'
    'main'
    'nav'
    'footer';

  header {
    grid-area: header;
  }
  main {
    grid-area: main;
    padding: 15px 5px 10px 5px;
    overflow: auto;
  }
  nav {
    grid-area: nav;
  }
  footer {
    grid-area: footer;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: 100px 1fr;
    grid-template-rows: 150px 1fr 50px;
    grid-template-areas:
      'nav header'
      'main main'
      'footer footer';
  }

  .nav {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    a {
      text-align: center;
    }
    .nav__toggle {
      margin-bottom: 3rem;
      font-size: 3rem;
      margin-left: 2rem;
    }
  }
}
