.nav {
  background-color: $dark-green;
  display: flex;
  z-index: 1;
  justify-content: space-between;

  a {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .nav__btns {
    margin-top: 1rem;
    margin-right: 1rem;
    color: white;
    font-size: 1rem;
  }
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: $dark-green;
    padding: 2rem 1.5rem 3rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
    .nav__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      .nav__item {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $small-font-size;
        color: $white;
        font-weight: $font-medium;
        width: 100%;
        margin: 0;
        &:hover {
          color: $light-green;
        }
        .nav__icon {
          font-size: 1.2rem;
        }
      }
    }
  }
  .nav__menu.show-menu {
    bottom: 0;
  }
  .nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: $white;
  }
}

.nav__link:hover .nav__icon {
  transform: scale(1.2);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav {
    .nav__menu {
      height: 100%;
      border-radius: 0 1.5rem 1.5rem 0;
      width: 30%;
      left: -100%;
      bottom: 0;
      z-index: 1;
      .nav__list {
        grid-template-columns: 1fr;
        .nav__link {
          flex-direction: row;
          gap: 1rem;
        }
      }
      .nav__list::before {
        content: 'Dashboard';
        display: block;
        width: 100%;
        font-size: $h1-font-size;
        font-weight: 900;
        color: $white;
      }
    }
  }

  .nav__menu.show-menu {
    left: 0;
  }
  .nav__close {
    top: 1.3rem;
  }
}

@media only screen and (min-width: 992px) {
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    .nav__logo {
      font-size: 2rem;
    }
    .nav__menu {
      position: relative;
      left: 0;
      width: 100%;
      border: none;
      box-shadow: none;
      border-radius: none;
      .nav__item {
        transform: scale(1.2);
        margin-left: 1.5rem;
      }
    }
  }
}
