/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*==================== VARIABLES CSS ====================*/
// colors
$light-green: #039642;
$dark-green: #10594f;
$yellow: #faf517;
$red: #fe4540;
$white: #ffffff;

/*========== Font and typography ==========*/
$body-font: 'Poppins', Helvetica, Tahoma, sans-serif;

$big-font-size: 2rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

/*========== Font weight ==========*/
$font-medium: 500;
$font-semi-bold: 600;
